/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Default Page Settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    color: black;
    text-decoration: none;
}

/* Header */
.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}

.site-title {
    display: flex;
    justify-content: center;
}

/* Navigation */

nav {
    display: flex;
    justify-content: right;
    width: 90%;
    margin: auto;
}

#navlinks {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
#navlinks a:hover {
    color: grey;
}

#navlinks a.active {
    color: red;
}

/* Content */
.page-content {
    flex-grow: 1;
}

.portfolio-slideshow {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: auto;
    flex-direction: column;
}

.slideshow {
    background-color: aquamarine;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    margin: auto;
    aspect-ratio: 2 / 1;
}

.slideshow-img {
    overflow: hidden;
}

/* Hide the images by default */
    .mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 90%;
    text-align: center;
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* The dots/bullets/indicators */
.dots {
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.gallery-navigation {
    display: flex;
    color: yellow;
    width: 100%;
}

.gallery-navigation-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#test-image {
    width: 100%;
    border-radius: 73% 27% 22% 78% / 66% 80% 20% 34%;
    object-fit: cover;
    aspect-ratio: 1;
    border: solid 2px black;
}

#test-image-2 {
    width: 100%;
    border-radius: 27% 73% 37% 63% / 18% 26% 74% 82%;
    object-fit: cover;
    aspect-ratio: 1;
    border: solid 2px black;
}

#test-image-3 {
    width: 100%;
    border-radius: 73% 27% 22% 78% / 66% 80% 20% 34%;
    object-fit: cover;
    aspect-ratio: 1;
    border: solid 2px black;
}

#href-border {
    border-radius: 73% 27% 22% 78% / 66% 80% 20% 34%;
}

/*#gal-nav-1 {
}*/

#gal-nav-2 {
    border-radius: 75% 25% 33% 67% / 38% 27% 73% 62% ;
}

#gal-nav-3 {
    border-radius: 75% 25% 33% 67% / 38% 27% 73% 62% ;
}

/* Footer */
.social-icons, .copyright {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-content: space-between;
}

/* Social Links */
.fa-brands, .fab {
    margin: 10px;
    font-size: 20px;
}